<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search Resort" name="resort" [(ngModel)]="resortName">
  </form>
</div>

<div class="container">
  <div class="upper-data">
    <img id="daytime" src="../assets/images/daytime.png" *ngIf="isDayTime()">
    <img id="nighttime" src="../assets/images/nighttime.png" *ngIf="!isDayTime()">
    <div class="weather-data">
      <div class="location">{{ getLocation() }}</div>
      <div class="temperature">{{ getTemperature() }}</div>
      <div class="summary">{{ getSummary() }}</div>
    </div>

  </div>
  <div class="lower-data">
    <div class="resort-info-label">
      Resort Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/windspeed.png" alt="">
          <span>wind speed</span>
        </div>
        <div class="info-block-value">
          {{ getWindSpeed() }}
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/winddirection.png" alt="">
          <span>wind direction</span>
        </div>
        <div class="info-block-value">
          {{ getWindDirection() }}
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/rain.png" alt="">
          <span>rain</span>
        </div>
        <div class="info-block-value">
          {{ getRain() }}
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/images/humidity.png" alt="">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          {{ getHumidity() }}
        </div>
      </div>
    </div>
  </div>
</div>
